#cc p{
    text-align:center;
}
#cc .head-container{
    display:flex;
}
#cc .head-container h1{
    display:inline;
}
#cc .head-container h3{
    display:inline;
    line-height:30px;
}
#cc .triangle{
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid #515151;
    border-bottom: 15px solid transparent;
    display: inline;
    line-height:30px;
}

.p-box{
    height:30px;
    border-bottom:1px solid #515151;
}
.p-box a{
    color:#515151;
    text-decoration:none;
}