#cc p{
    text-align:center;
}
#cc .head-container{
    display:flex;
    align-items:center;
}
#cc .head-container h1{
    display:inline;
}
#cc .head-container h3{
    display:inline;
}
#cc .triangle{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #515151;
    display: inline;
    display:relative;
    top:30px;
}

.p-box{
    height:30px;
    border-bottom:1px solid #515151;
}
.p-box a{
    color:#515151;
    text-decoration:none;
}